<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>
    <add key="RecalculatedDateTime" value="2017-04-19"/>
    <add key="FileSeperator" value ="Comma"/>
    <add key="FileExtension" value ="csv"/>
    <add key="FilePrefix" value =""/>
    <add key="FileDateFormat" value ="dd MM yyyy"/>

    <add key="IsFTPORFOLDER" value ="Folder"/>   
    <add key="EveryDayRunTimeHr" value ="0"/>
    <add key="EveryDayRunTimeMn" value ="0"/>

    <add key="LocalFolderPath" value =""/>

    <add key="FtpServer" value="LocalHost"/>
    <add key="FtpUserName" value="essl"/>
    <add key="FtpPassword" value="essl"/>
    <add key="FtpAttLogsDirectory" value="essl"/>
 

    <add key="IsProxyServerEnable" value="False"/>
    <add key="ProxyServer" value="LocalHost"/>
    <add key="ProxyUserName" value="essl"/>
    <add key="ProxyPassword" value="essl"/>

    <add key="IncludeCSVHeader" value="yes"/>
    <add key ="CustomExportFormat" value ="EmployeeCode,AttendanceDate,Status,InTime,OutTime,Overtime"/>
    
  </appSettings>
  
</configuration>
